<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <GenerateManifests>true</GenerateManifests>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <IsWebBootstrapper>true</IsWebBootstrapper>
  </PropertyGroup>
  <!-- Publish Version and Updates -->
  <PropertyGroup>
    <ApplicationVersion>3.5.0.0</ApplicationVersion>
    <ApplicationRevision>0</ApplicationRevision>
    <IsRevisionIncremented>False</IsRevisionIncremented>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <MinimumRequiredVersion>3.5.0.0</MinimumRequiredVersion>
  </PropertyGroup>
  <!-- Configuration -->
  <PropertyGroup>
    <TargetFramework>net472</TargetFramework>
    <Platform>Any CPU</Platform>
    <Configuration>Release</Configuration>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <PublishReadyToRun>False</PublishReadyToRun>
  </PropertyGroup>
  <!-- Location -->
  <PropertyGroup>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishDir>bin\Release\net472\app.publish\</PublishDir>
    <Install>true</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>http://mojp.azurewebsites.net/docs/clickonce/</InstallUrl>
  </PropertyGroup>
  <!-- Publish Options -->
  <PropertyGroup>
    <TargetCulture>ja-JP</TargetCulture>
    <PublisherName>MO 日本語カードテキスト表示ツール</PublisherName>
    <ProductName>MO 日本語カードテキスト表示ツール</ProductName>
    <SupportUrl>https://github.com/fog-bank/mojp/wiki</SupportUrl>
    <ErrorReportUrl>https://github.com/fog-bank/mojp/issues</ErrorReportUrl>
    <CreateWebPageOnPublish>true</CreateWebPageOnPublish>
    <WebPageFileName>index.html</WebPageFileName>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
    <SkipPublishVerification>false</SkipPublishVerification>
    <CreateDesktopShortcut>true</CreateDesktopShortcut>
    <MapFileExtensions>true</MapFileExtensions>
  </PropertyGroup>
  <!-- Sign -->
  <PropertyGroup>
    <SignManifests>False</SignManifests>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
  </PropertyGroup>
  <!-- Application Files -->
  <ItemGroup>
    <PublishFile Include="appendix.xml">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="cards.xml">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
  <!-- Prerequisites -->
  <ItemGroup>
    <BootstrapperPackage Include=".NETFramework,Version=v4.7.2">
      <Install>true</Install>
      <ProductName>Microsoft .NET Framework 4.7.2 (x86 and x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>