body {
    font-family: 'Segoe UI', Meiryo, Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-color: #3399ff;
    color: White;
}

h3 {
    background-color: #e0eaf6;
    color: Black;
}

p {
/*    margin-left: 0.38em;
    text-indent: 1em;*/
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#menu {
    background: #faf9f5 url('images/toolbar.png') repeat-x bottom;
    color: Black;
}

#menu a {
    border: 1px solid Transparent;
    color: Black;
    margin: 0 2px 0 0;
    padding: 0 5px;
    text-decoration: none;
}

#menu a:hover {
    background-color: #c1d2ee;
    border: 1px solid Blue;
    color: Black;
}

#screenshot {
    border-radius: 6px;
}

#comment_body {
    border: 1px dashed skyblue;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}

.underline {
    border-bottom: dotted 1px black;
    padding: 2px 6px;
}
